.doctors-container {
  background-color: #ffff;
  padding: 100px 0px;
  margin: auto;
}
.doctors-intro {
  text-align: center;
}

.doctors-name {
  color: black;
  font-weight: bold;
}

.doctors-intro h2 {
  font-size: 3rem;
  font-weight: bold;
  /* color: white; */
  margin-bottom: 20px;
  font-family: "Source Serif Pro", serif;
}

.doctors-intro p {
  font-size: 2rem;
  font-weight: bold;
  color: black;
  font-family: "Source Serif Pro", serif;
}

@media only screen and (max-width: 600px) {
  .doctors-container {
    background-color: #4a80b2;
    padding: 20px 0px;
  }
}
