.services{
    background-color: #f8f9fa;
   
    text-align: center;
    padding: 50px 0px;
}

.service-intro p{font-size: 2rem;
                font-weight: bold;
                 font-family: 'Source Code Pro', monospace;
                 color: #232526;

                }
.service-intro h2{font-size: 3rem;
                  font-weight: bold;
                  font-family: 'Source Serif Pro', serif;
                  margin-bottom: 20px;
                  color :hsl(200, 4%, 14%);
                  }

.cardd {background-color: #ECE9E6;
       
       
       box-shadow: 1px 1px 2px black;}
    .cardd button{ border: none;
                   outline: none;
                   width: 130px;
                   border-radius: 50px;
                   padding: 7px;
                   color: white;
                   font-weight: bold;
                   background-color :#232526 ;
                  font-family: 'Source Code Pro', monospace;}
