.login-container {
  background-color: white;
  padding: 100px 0px;
}

.login-form {
  width: 400px;
  margin: auto;
  text-align: center;
  box-shadow: 1px 1px 4px;
  border-radius: 5px;
  padding: 20px;
  background-color: white;
}
.login-form h2 {
  font-family: "Source Serif Pro", serif;
  font-size: 2rem;
  font-weight: bold;
}

.login-btn {
  border: none;
  outline: none;
  border-radius: 7px;
  background-color: #3d93ff;
  color: white;
  font-weight: bold;
  padding: 7px;
}

.google-btn {
  border: none;
  background-color: none;
  padding: 6px 7px;
  border-radius: 5px;
  color: #3d93ff;
}
