


.banner{
     
   background-color:#093028;
   /* text-align: center; */
   padding: 130px 0px;
}

.banner-img img {width: 100%;}


.carousel-desc h2{ font-size: 1.4rem;
                   
                   font-weight: bold;
                   color: rgb(207, 202, 202);
                   font-family: 'Source Code Pro', monospace;
                   }

.carousel-desc p{ font-weight: bold;
                  font-size: 3.5rem;
                  
                  color : white;
                  font-family: 'Source Serif Pro', serif;
                  }
.carousel-desc button{ border: none;
                     
                    outline: none;
                    width: 160px;
                   padding: 7px;
                   font-size: 1rem;
                   font-weight: bold;
                   border-radius: 50px;
                   background-color:rgb(207, 202, 202) ; 
                  font-family: 'Source Code Pro', monospace;}
   
   @media only screen and (max-width: 600px) {

   .banner{text-align: center;
            padding: 20px 0px;}
   
}